#mauticforms-doi-verified-actions .mauticform-row .action-label {
    font-size: 1.1em;
    font-weight: bold;
    display: block;
}
#mauticforms-doi-verified-actions .mauticform-row .action-descr {
    font-size: 0.9em;
    display: block;
}

[data-doi-enabled="0"] .doi-hide-when-disabled,
.doi-hide-when-disabled[data-doi-enabled="0"] {
    display: none;
}